.cards {
  margin: auto;
  max-width: calc(100% - 400px);
  padding-bottom: 67px;
}

@media screen and (max-width: 1279px) {
  .cards {
    max-width: calc(100% - 200px);
  }
}

@media screen and (max-width: 800px) {
  .cards {
    max-width: calc(100% - 38px);
  }
}

