.card__like-button {
  background-image: url('../../../images/heart-icon.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: inherit;
  width: 21px;
  height: 18px;
  border: none;
  outline: none;
  padding: 0;
  transition: opacity 0.3s;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: .6;
}
